* {
    margin: 0%;
    padding: 0%;
}

.swiper {
  width: 600px;
  height: 300px;
}
.rohit {
    background-color: white;
    width: 100%;
    height: 80vh;

}

.rohit img {
    width: 100%;
    height: 80vh;
}

@media screen and (max-width: 425px) {
  .rohit{
    width: 70%;
    height: 70vh;
  }
  .rohit img{
    width: 70%;
    height: 70vh;
  }

}
body {
    overflow-x: hidden;
}

.rohit1 {
    background-color: #f0f5fa;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.g {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.g p {
    line-height: 1.5;
}

.mm {
    background-color: rgb(221, 208, 208);
    padding: 60px;
}

.mm h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.mm p {

    padding: 0 170px;
    text-align: center;
}

.some {
    background-color: #5d4850;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.l {
    height: 70vh;
    padding-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.l1 {
    line-height: 1.5;
}

.l2 img {
    width: 500px;
    height: 40vh;
    transform: skew(-15deg);
}

.r h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.r h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.r p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.h {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.g {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;

}

.g1 h2 {
    text-align: center;
}

.g1 p {
    text-align: center;
}

.q {
    background-color: rgb(127, 127, 182);
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}


.o {
    height: 70vh;
    padding-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.o1 img {
    width: 80%;
    height: 60vh;
    transform: skewX(-15deg);
    margin-left: 30px;
}

.o1 button {
    padding: 12px 24px;
    background-color: #222334;
    font-size: 20px;
    margin-top: 2.5%;

}
.o1 button a {
    columns: rgb(170, 162, 162);
    text-decoration: none;
    color: white;
}

.a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
}

.comtainer {
    background-color: #222334;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin: 30px 0px 0px 0px;
}

.item {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    flex-direction: column;
    box-shadow: 0 0 5px #8888884d;

}

.item img {
    width: 100%;
    height: 200px;
}

.d {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding: 10px;
    gap: 40px;
}

.item a {
   background-color: #222334;
    padding: 14px 35px;
    margin: 10px;
    color: white;
    text-transform: uppercase;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 28px;
    margin: 10px;
    padding-bottom: 70px;
}

.i a {
    background-color: #222334;
    padding: 14px 35px;
    margin: 10px;
    color: white;
    text-transform: uppercase;
}

.w {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 28px;
    margin: 10px;
    padding-bottom: 70px;
}

.b {
    display: flex;
    justify-content: center;
    align-items: normal;
    margin: 0 150px;
}

.b1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}

.b1 img {
    height: 50%;
    width: 100%;
    border-radius: 50px;

}

.b1 a {
    background-color:#222334;;
    padding: 14px 35px;
    color: white;
    font-size: 20px;
}

.sum {
    display: flex;
    justify-content: center;
    align-items: normal;
    margin: 20px 0;

}

.sum2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}

.sum2 a {
    background-color: #222334;;
    padding: 14px 35px;
    color: white;
    font-size: 20px;
}

.sum2 img {
    height: 50%;
    width: 100%;
    border-radius: 50px;

}

.sum1 {
    width: 50%;
}

.u {
    padding-top: 30px;
    text-align: center;
    text-wrap: wrap;
    margin: 0 50px 0 0;
}

.k1 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.k1 img {
    width: 180px;
    height: 10%;
}

.c {
    height: 100px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.image {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 30px;

}

.image1 {
    margin: 0px 40px 0px 40px;

}

.image1 img {
    width: 100%;
    height: 250px;

}

.image1 h3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.last {
    background-color: whitesmoke;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.im img {
    width: 100%;
    height: 300px;
}

.www {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.ww {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.ww p {
    padding-bottom: 0px 170px;
    text-align: center;

}

.pp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 260px 0px 260px;
    gap: 30px;
    padding-top: 20px;
}

.ppp h2 {
    padding-top: 20px;
}

.ppp h3 {
    padding-top: 20px;
}

.ppp p {
    padding-top: 20px;
    padding-bottom: 40px;
}

.g {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;

}

.g1 h2 {
    text-align: center;
}

.g1 p {
    text-align: center;
}

.q {
    background-color: rgb(127, 127, 182);
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.last {
    background-color: whitesmoke;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

blog .vinod {
    background-color: rgb(134, 129, 129);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.ffff {
    background-color: rgb(226, 233, 235);
    padding-bottom: 20px;
    padding-top: 40px;
}

.dddd {
    background-color: white;
    width: 70%;
    margin: 0% 15% 0% 15%;

}

.d {
    padding-left: 40px;

}

.d h1 {
    font-size: 40px;
}

.d p {
    font-size: 15px;
}

.d a {
    line-break: loose;
    padding-bottom: 30px;
}

.sd {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sd {
    display: flex;
    gap: 50px;
    padding: 10px;
    padding-top: 30px;
}

.sd1 {
    height: 30px;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}

.day {
    background-color: #ecf1f6;
}
























.v {
    background-color: rgb(226, 233, 235);
    padding-top: 30px;

}

.vv {
    background-color: white;
    width: 70%;
    margin: 0% 15% 0% 15%;
    padding-left: 40px;
    padding-bottom: 50px;

}

.vvv p {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.vvv ul {
    padding-left: 50px;
}

.cc {
    background-color: rgb(226, 233, 235);
    width: 100%;
    height: 40px;
}

.ccc {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    padding-top: 20px;
}




.cc {
    background-color: rgb(226, 233, 235);
    width: 100%;

}

.ccc {
    padding-top: 30px;
    backdrop-filter: white;
    width: 70%;

}














































.cn {
    padding-bottom: 50px;
    
}
.cnp{
    position: relative;
}
.jk{
    position: absolute;
   display: flex;
   justify-content: center;
   flex-direction: column;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   color: white;
   gap: 5px;
   align-items: center;
}

.cnp img {
    width: 80%;
    margin-left: 10%;
    height: 50vh;
filter: brightness(25%);

}

.cpp {
    background-color: white;
    padding-top: 50px;
}

.cp1 {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hm {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 25px;
}


.hm1 {
    box-shadow: 0px 0px 10px 10px rgb(128 128 128 / 10%);
    padding: 60px 30px;

}

.cxcx {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cxcx1 {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px 10px rgb(128 128 128 / 10%);
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    gap: 25px;
}

.cx1 img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}



.cx1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}




.qwe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.qwer1 {
    display: flex;
    flex-direction: column;
}
.prodectimg {

    padding-top: 40px;
    width: 100%;
    height: 220vh;
    background-color: rgb(167, 179, 179);
}


.prodectimg1 {
    padding-top: 30px;
    background-color: white;
    width: 80%;
    margin: 0% 10% 0% 10%;
}

.prodectimg1 p {
    margin-left: 40px;
    padding-top: 40px;
    margin: 0px 50px 0px 50px;
}

.prodectimg1 h1 {
    margin-left: 40px;
}


.imf {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imf1 {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.imf1 img {

    width: 200px;
    height: 200px;
}


.imf button {
     background-color: #222334;;
    padding: 14px 28px;
    margin: 10px;
  
}
.imf button a{
    text-decoration: none; 
    color: white;
}


.pro {
    background-color: #ecf1f6;
    width: 100%;


}

.pro1 {
    background-color: white;
    width: 80%;
    margin: 0% 10% 0% 10%;
    padding-top: 40px;

}

.pro1 p {
    margin: 0px 30px 0px 30px;
    padding: 30px;
}

.pro1 h1 {
    margin-left: 50px;
}


.ing {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pipe {
    background-color: #ecf1f6;
    width: 100%;
    padding-top: 50px;
}

.pipe1 {
    background-color: white;
    width: 80%;
    margin: 0% 10% 0% 10%;
}

.pipe h1 {
    padding-left: 40px;
    padding-top: 30px;
}

.pipe p {
    padding: 0px 40px 0px 40px;
    padding-top: 40px;
}

.text {
    background-color: #ecf1f6;
    width: 100%;
    padding-top: 50px;
}

.text1 {
    background-color: white;
    width: 80%;
    margin: 0% 10% 0% 10%;
}

.text1 h1 {
    padding-left: 40px;
    padding-top: 30px;
}

.text1 p {
    padding: 0px 40px 0px 40px;
    padding-top: 40px;
}

.pto {
    background-color: #ecf1f6;
    width: 100%;
    padding-top: 50px;
}

.pto1 {
    background-color: white;
    width: 80%;
    margin: 0% 10% 0% 10%;
}

.pto1 h1 {
    padding-left: 40px;
    padding-top: 30px;
}

.pto1 p {
    padding: 0px 40px 0px 40px;
    padding-top: 40px;
}

.qwer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;

}

.qwer input,
.wallpapers input {
    padding: 10px 25px 10px 5px;
}

.wallpapers input:last-child {
    padding-bottom: 50px;
}

.qwea h1 {
    margin-bottom: 50px;
}

.wallpapers {
    display: flex;
    gap: 5px;
    padding-top: 5px;
    flex-direction: column;
}

.qwea button {
    margin-top: 5px;
    padding: 10px;
    background-color: #e1ffee;

}


